/* Admin */

#wps_admin_admin_links {
    clear: both;
}

#wps_hide_admin_links:before,
#wps_hide_admin_links_show:before,
#wps_hide_welcome_header:before,
.wps_manage_icons li:before {
    color: #82878c;
    font: normal 20px/1 'dashicons';
    speak: none;
    display: inline-block;
    padding: 0 10px 0 0;
    top: -1px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
    vertical-align: top;
}

#wps_admin_getting_started_extensions_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f111';
    margin-right: 10px;
}
#wps_admin_getting_started_core_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f108';
    margin-right: 10px;
}
#wps_admin_getting_started_login_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f112';
    margin-right: 10px;
}
#wps_admin_getting_started_system_messages_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f521';
    margin-right: 10px;
}
#wps_admin_getting_started_alerts_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f488';
    margin-right: 10px;
}
#wps_admin_getting_started_soundcloud_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f176';
    margin-right: 10px;
}
#wps_admin_getting_started_activity_facebook_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f305';
    margin-right: 10px;
}
#wps_admin_getting_started_likes_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f328';
    margin-right: 10px;
}
#wps_admin_getting_started_security_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f160';
    margin-right: 10px;
}
#wps_admin_getting_started_directory_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f330';
    margin-right: 10px;
}
#wps_admin_getting_started_default_friends_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f526';
    margin-right: 10px;
}
#wps_admin_getting_started_rewards_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f313';
    margin-right: 10px;
}
#wps_admin_getting_started_gallery_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f128';
    margin-right: 10px;
}
#wps_admin_getting_started_profile_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f110';
    margin-right: 10px;
}
#wps_admin_getting_started_edit_profile_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f338';
    margin-right: 10px;
}
#wps_admin_getting_started_friendships_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f307';
    margin-right: 10px;
}
#wps_admin_getting_started_forum_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f473';
    margin-right: 10px;
}
#wps_admin_getting_started_forum_subs_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f155';
    margin-right: 10px;
}
#wps_admin_getting_started_group_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f175';
    margin-right: 10px;
}
#wps_admin_getting_started_mail_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f466';
    margin-right: 10px;
}
#wps_admin_getting_started_migrate_div:before {
    font: normal 20px/1 'wps_pro';
    content: "\e600";   
    margin-right: 10px;
}
#wps_admin_getting_started_toolbar_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f212';
    margin-right: 10px;
}
#wps_admin_getting_started_default_groups_div:before {
    font: normal 20px/1 'dashicons';
    content:'\f336';
    margin-right: 10px;
}

.wps_manage_icons .wps_icon_profile:before {
    content:'\f110';
}
.wps_manage_icons .wps_icon_rewards:before {
    content:'\f313';
}
.wps_manage_icons .wps_icon_forums:before {
    content:'\f473';
}
.wps_manage_icons .wps_icon_css:before {
    content:'\f119';
}
.wps_manage_icons .wps_icon_reset:before {
    content:'\f463';
}
.wps_manage_icons .wps_icon_activity:before {
    content:'\f163';
}
.wps_manage_icons .wps_icon_mail:before {
    content:'\f466';
}
.wps_manage_icons .wps_icon_whoto:before {
    content:'\f503';
}
.wps_manage_icons .wps_icon_friends:before {
    content:'\f307';
}
.wps_manage_icons .wps_icon_subs:before {
    content:'\f155';
}
.wps_manage_icons .wps_icon_alerts:before {
    content:'\f488';
}
.wps_manage_icons .wps_icon_groups:before {
    content:'\f175';
}
.wps_manage_icons .wps_icon_galleries:before {
    content:'\f128';
}
.wps_manage_icons .wps_icon_lounge:before {
    content:'\f117';
}
.wps_manage_icons .wps_icon_calendars:before {
    content:'\f508';
}
#wps_hide_admin_links:before {
    content:'\f141';
    font: normal 24px/1 'dashicons';
    padding: 0 4px 0 0;    
    top: -4px;
}
#wps_hide_admin_links_show:before {
    content:'\f139';
    font: normal 24px/1 'dashicons';
    padding: 0 4px 0 0;    
    top: -4px;
}
#wps_hide_welcome_header:before {
    content:'\f156';
    font: normal 18px/1 'dashicons';
    padding: 0 8px 0 0;    
}

.wps_manage_left {
    min-width: 200px;
    width: 200px;
    min-height: 200px;
    padding-right: 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */        
    float: left;    
}
#wps_manage_licence_code {
}
#wps_manage_licence_input {
    height: 31px;
    margin-right: 6px;
    width: 220px;
}

#wps_admin_getting_started_options_please_wait {
    margin:30px auto;
    font-size: 2.0em;
    text-align: center;
    width: 33%;
    background-color:#fff;
    padding:30px;
    border: 1px solid #666;
    border-radius:5px;    
    -moz-box-shadow: 0 0 7px #999;
    -webkit-box-shadow: 0 0 7px #999;
    -o-box-shadow: 0 0 7px #999;
    -ms-box-shadow: 0 0 7px #999;
    box-shadow: 0 0 7px #999;
}

#wps_options_save_button {
    margin:15px 5px 15px 5px;
}
.admin_button_please_wait {
    opacity: 0.5;
}

/* Admin Getting Started/Help */
.wps_admin_getting_started_menu_item,
.wps_admin_getting_started_menu_item_no_click {
    background: rgba( 255, 255, 255, .8 ) 
                url('images/wrench_light.svg') 
                50% 50% 
                no-repeat;  
    background-size: 32px 32px;
    background-position: 99.5% 6px;
    background-repeat: no-repeat;
    background-color: #333;
    margin-top: 10px;
    padding: 4px 18px;
    cursor: pointer;
    color: #fff;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */   
    width: 100%;
    font-size: 24px;
    line-height: 36px;
    border-radius: 5px;
}
.wps_admin_getting_started_menu_item_no_click {
    cursor: default;
}

.wps_admin_getting_started_menu_item_remove_icon {
    background: #510051 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;    
}

.wps_admin_getting_started_content {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */   
    background-color: #fff;
    padding: 8px 8px 8px 18px;
    margin: 0px 0px 10px 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px dotted #510051;
    border-right: 1px dotted #510051;
    border-bottom: 1px dotted #510051;
}

